<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block titulo %}
        homepage
        {% endblock %}
    </title>
</head>
<body>
{% block body %}
<h1>Meu site</h1>
<a href="{{ url_for('perfil', usuario = 'luan' ) }}">perfil</a>
<a href="{{url_for('criarconta')}}">Criar Conta</a>

<form method="POST">

    {% block formulario %}

  {{ form.csrf_token }}

{{form.email.label}}
    {{form.email() }}

    {{form.senha.label}}
    {{form.senha()}}

    {{form.botao_confirmacao() }}

    {% endblock %}
</form>
{% endblock %}
</body>
</html>